.path-mod-meet .panel-body #region-main .btn + .btn {
    margin-left: 1rem;
}

.path-mod-meet .meet-table-wrapper {
    overflow-x: auto;
}

.path-mod-meet .recording-preview {
    display: flex;
    justify-content: center;
}

.path-mod-meet .iframe-wrapper {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.path-mod-meet .iframe-wrapper .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.path-mod-meet .iframe-wrapper .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.path-mod-meet .chat-log-wrapper {
    width: 280px;
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, .125);
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
}

.path-mod-meet .chat-log-wrapper .chat-log-title {
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 0;
    padding: 1rem;
}

.path-mod-meet .chat-log-wrapper .chat-log-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.path-mod-meet .chat-log-wrapper .chat-log-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: auto;
}

.path-mod-meet .chat-log-wrapper .chat-log-message-wrapper {
    font-size: .9rem;
    color: #526069;
    padding: 1rem;
}

.path-mod-meet .chat-log-wrapper .chat-log-message-wrapper .chat-log-message-author {
    font-weight: 700;
    color: #37474f;
}

.path-mod-meet .chat-log-wrapper .chat-log-message-wrapper .chat-log-message-time {
    font-weight: 300;
    margin-left: .5rem;
}

.path-mod-meet .chat-log-wrapper .chat-log-message-wrapper .chat-log-message {
    white-space: pre-line;
}

@media (max-width: 991px) {
    .path-mod-meet .recording-preview {
        flex-direction: column;
    }

    .path-mod-meet .chat-log-wrapper {
        width: 100%;
        height: 25rem;
    }
}
